<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg primary"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header primary" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16">
                    dashboard
                </mat-icon>
                <span class="logo-text h1">
                    Bandeja de entrada
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0" style="color: white !important; width: 35%;">
                <mat-form-field *ngIf="isShown">
                    <mat-icon matPrefix>search</mat-icon>
                    <input type="search" matInput placeholder="Buscar">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <div>
                <button class="mat-icon-button whiteColor" (click)="toggleShow()">
                    <mat-icon class="mat-icon material-icons" aria-hidden="false">search</mat-icon>
                </button>
                <button class="mat-icon-button whiteColor">
                    <mat-icon class="mat-icon material-icons" aria-hidden="false" matTooltip="Filtrar" matTooltipPosition="above" aria-hidden="false">tune</mat-icon>
                </button>
                <!-- ADD BUTTON -->
                <button mat-raised-button [routerLink]=" '/apps/e-commerce/products/new'" class="add-product-button fuse-white mt-24 mt-md-0" (click)="toggleSidebarOpen('quickPanel')">
                <mat-icon>add</mat-icon><span>Agregar factura</span>
            </button>
                <!-- / ADD BUTTON -->
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="NFactura">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>N Factura/Comprobante</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{row.NFactura}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Image Column -->
                <ng-container matColumnDef="FecCreacion">
                    <mat-header-cell *matHeaderCellDef>Fecha Creación</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.FecCreacion}}
                    </mat-cell>
                </ng-container>


                <!-- Name Column -->
                <ng-container matColumnDef="FecVencimiento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Vencimiento </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <p class="text-truncate">{{row.FecVencimiento}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Category Column -->
                <ng-container matColumnDef="Clinica">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Clínica</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{row.Clinica}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="ComFacturacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>ComFacturacion</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                        <span>
                                {{row.ComFacturacion}}
                            </span>
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="Prestador">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Prestador</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{row.Prestador}}
                        </p>
                    </mat-cell>
                </ng-container>



                <!-- Active Column -->
                <ng-container matColumnDef="Estados">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Estados</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                        <button mat-flat-button [style.background-color]="getColor(row.Estados)" style="color: white; border-radius: 30px; width: 100%;">{{row.Estados}}</button>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple [routerLink]=" '/apps/e-commerce/products/'+product.id+ '/'+product.handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

</div>

<mat-drawer-container autosize style="width:100%; height: 100%;">
    <mat-drawer #drawer mode="side" position="end">
        <table class="simple clickable">
            <!-- <thead>
            </thead> -->
            <tbody>
                <tr>
                    <td>
                        <mat-icon>list_alt</mat-icon> Agregar Factura
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-expansion-panel (opened)="panelOpenState=true" (closed)="panelOpenState=false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Clínica
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-checkbox style="margin-right: 5px;">Bazterrica</mat-checkbox>
                            <mat-checkbox style="margin-right: 5px;">Del Sol</mat-checkbox>
                            <mat-checkbox style="margin-right: 5px;">Santa Isabel</mat-checkbox>
                        </mat-expansion-panel>
                        <div class="mat-expansion-panel mat-expansion-panel-header" style="height: 48px;">
                            <input type="text" placeholder="Buscar por número de factura" aria-label="Number" matInput>
                        </div>
                    </td>
                </tr>
                <tr *ngFor=" let item of items; trackBy: trackByFn;">
                    <mat-expansion-panel (opened)="panelOpenState=true" (closed)="panelOpenState=false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{item}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                </tr>
            </tbody>
        </table>
    </mat-drawer>